.uvc-heading-spacer.line_with_icon:before, .uvc-heading-spacer.line_with_icon:after{width:160px !important;border-style:solid;border-color:#ccc;border-bottom-width:1px;}
.vc_custom_147667954591 {background-color:white;}
.line_with_icon{margin: 10px 0px !important;}
.vc_custom_1476679054591 {margin-bottom:30px !important;margin-top:0px !important;}
.vc_custom_1472737138694 {padding-bottom:0px !important;}
.vc_custom_1462368898292 {margin-bottom:0px !important;}
.vc_row   {margin-bottom:0px !important;}
.vc_custom_1472737362888 {display:none !important;}
#access{margin: 0% 5% !important; float:RIGHT !important;}